<h1>Inhaltsverzeichnis</h1>

<ol>
    <li><a href="#einleitung">Einleitung</a>
    </li>
    <li><a href="#eigenständig">Eigenständigkeitserklärung</a>
    </li>
    <li><a href="#genutzter-datensatz">Genutzter Datensatz</a>
        <ul>
            <li><a href='#datensatz-anpassung'>Datensatz Anpassung</a></li>
            <li><a href="#was-bilden-die-daten-ab">Was bilden die Daten ab</a></li>
            <li><a href="#aufbau-des-datensatzes">Aufbau des Datensatzes</a></li> 
                <ul>
                    <li><a href="#variablen">Variablen</a></li>
                </ul>   
        </ul>
    </li>
    <li><a href="#analysen">Analysen</a>
        <ul>
            <li><a href="#ziel-der-analysen">Ziel der Analysen</a></li>
            <li><a href="#kmeans">KMeans</a></li>
            <li><a href="#hierarchisch">Hierarchisch</a></li>
        </ul>
    </li>
    <li><a href="#auswertung">Auswertung</a>
</ol>

<h1 id=einleitung>Einleitung</h1>

Im Rahmen des Moduls Datamining and Machine Learning werden wir einen, von uns ausgewählten, Datensatz mit der Clustering Methode statischtisch analysieren und auswerten. Dabei wählen wir geeigneten Methoden des Clustering-Algorithmen an, um Muster und Strukturen in den Daten zu identifizieren. Durch diese statistische Analyse erhalten wir Einblicke in die zugrunde liegenden Zusammenhänge und können die Daten entsprechend interpretieren. Die Ergebnisse unserer Auswertung ermöglichen es uns, Erkenntnisse zu gewinnen und möglicherweise Trends oder Gruppierungen in den Daten zu erkennen, die für weitere Entscheidungen oder Analysen relevant sein könnten.

<h1 id=eigenständig>Eigenständigkeitserklärung</h1>

Hiermit erkläre/n ich/wir, dass ich/wir die vorliegende Arbeit eigenständig und ohne fremde Hilfe angefertigt habe/n. Textpassagen, die wörtlich oder dem Sinn nach auf Publikationen oder Vorträgen anderer Autoren beruhen, sind als solche kenntlich gemacht.

<h1 id=genutzter-datensatz>Genutzter Datensatz</h1>

<h2 id=datensatz-anpassung>Datensatz Anpassung</h2>

In [ ]:
import os
import random
import csv

# Specify the path to the CSV files
input_file = './tripadvisor_review.csv'
output_file = './output.csv'
# Read the input CSV file
with open(input_file, 'r') as file:
    reader = csv.reader(file)
    data = list(reader)
# Remove the first column from the data (it contains the user IDs)
data = [row[1:] for row in data]
# Keep the first row in the data for the header
header = data[0]
# Filter out possible duplicates from the data
input_file = list(set(tuple(row) for row in input_file))
# Calculate the number of rows to keep (90% of the total rows)
num_rows = int(len(data) * 0.9)
# Select random num_rows rows from the data
selected_data = random.sample(data[1:], num_rows)
# Add the header back to the selected data
selected_data.insert(0, header)
# Write the selected data to the output CSV file
with open(output_file, 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(selected_data)

<h2 id=was-bilden-die-daten-ab>Was bilden die Daten ab</h2>
Die Daten bilden das User Feedback zu verschiedenen Angeboten an Ferien Resorts in Asien auf einer Skala von 0 bis 4 ab. Diese werden dann mit der Durchschnittsbewertung des Resorts verglichen.

<h2 id=aufbau-des-datensatzes>Aufbau des Datensatzes</h2>

<h3 id=variablen>Variablen</h3>

Attribute 1 : Unique user id  
Attribute 2 : Average user feedback on art galleries  
Attribute 3 : Average user feedback on dance clubs  
Attribute 4 : Average user feedback on juice bars  
Attribute 5 : Average user feedback on restaurants   
Attribute 6 : Average user feedback on museums    
Attribute 7 : Average user feedback on resorts    
Attribute 8 : Average user feedback on parks/picnic spots    
Attribute 9 : Average user feedback on beaches   
Attribute 10 : Average user feedback on theaters   
Attribute 11 : Average user feedback on religious

<h1 id=analysen>Analysen</h1>

<h2 id=ziel-der-analysen>Ziel der Analysen</h2>

Das Ziel der Analysen ist es, die User zu clustern und die Cluster zu analysieren. Dadurch können die Resorts besser auf die Bedürfnisse der User angepasst werden.

<h2 id=kmeans>KMeans</h2>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [3]:
# Load the data from the CSV file
df = pd.read_csv('./output.csv')
df

,Category 1,Category 2,Category 3,Category 4,Category 5,Category 6,Category 7,Category 8,Category 9,Category 10
0,0.90,1.16,0.43,0.43,0.70,1.42,3.17,2.95,1.31,3.10
1,0.86,1.36,1.68,0.49,1.30,3.04,3.19,2.70,1.31,2.78
2,1.90,0.40,0.45,0.48,0.70,1.06,3.18,2.98,1.22,2.48
3,0.64,1.72,2.40,0.61,1.60,2.46,3.20,2.91,2.53,2.34
4,1.06,1.04,2.50,0.56,1.78,2.80,3.20,2.72,2.18,2.54
...,...,...,...,...,...,...,...,...,...,...
877,0.64,1.60,0.21,0.54,0.62,1.22,3.18,2.85,1.44,2.66
878,0.42,1.52,0.29,0.53,0.38,1.52,3.18,2.95,2.88,3.12
879,0.74,1.68,1.18,0.50,1.50,2.52,3.18,2.86,1.54,2.48
880,0.99,1.08,0.93,0.41,0.62,1.46,3.18,2.97,1.73,2.94
881,1.25,0.84,1.71,1.12,0.34,1.22,3.19,2.70,1.50,2.48

In [4]:
# Describe the data
df.describe()

,Category 1,Category 2,Category 3,Category 4,Category 5,Category 6,Category 7,Category 8,Category 9,Category 10
count,882.000000,882.000000,882.000000,882.00000,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000
mean,0.887540,1.339229,1.009331,0.52941,0.937664,1.839342,3.180839,2.837812,1.568095,2.802313
std,0.319919,0.466835,0.791363,0.27496,0.432425,0.540938,0.007769,0.137525,0.374831,0.318266
min,0.340000,0.000000,0.130000,0.15000,0.060000,0.140000,3.160000,2.480000,0.740000,2.140000
25%,0.670000,1.050000,0.270000,0.41000,0.640000,1.460000,3.180000,2.740000,1.310000,2.540000
50%,0.830000,1.280000,0.810000,0.49000,0.900000,1.800000,3.180000,2.820000,1.500000,2.780000
75%,1.020000,1.560000,1.570000,0.58000,1.200000,2.200000,3.180000,2.930000,1.760000,3.020000
max,2.720000,3.120000,3.620000,3.44000,3.300000,3.760000,3.210000,3.390000,3.170000,3.660000

In [ ]:
# Scale the data and fit the KMeans model
scaler = StandardScaler()
df[['Category 1_T','Category 2_T','Category 3_T','Category 4_T','Category 5_T','Category 6_T','Category 7_T','Category 8_T','Category 9_T','Category 10_T'
]] = scaler.fit_transform(df[['Category 1','Category 2','Category 3','Category 4','Category 5','Category 6','Category 7','Category 8','Category 9','Category 10'
]])
df

In [ ]:
# Defining a function to optimise the number of clusters
def optimise_k_means(data, max_k):
    means = []
    inertias = []

    for k in range(1, max_k):
        kmeans = KMeans(n_clusters=k)
        kmeans.fit(data)

        means.append(k)
        inertias.append(kmeans.inertia_)

    fig = plt.subplots(figsize=(10, 5))
    plt.plot(means, inertias, 'o-')
    plt.xlabel('Number of Clusters')
    plt.ylabel('Inertia')
    plt.grid(True)
    plt.show()

In [ ]:
# Using the function to optimise the number of clusters
optimise_k_means(df[['Category 1_T','Category 2_T']], 10)

In [ ]:
# Doing the KMeans clustering with 5 clusters

kmeans = KMeans(n_clusters=5)
kmeans.fit(df[['Category 1_T','Category 2_T']])
df['kmeans_5'] = kmeans.labels_
df

In [ ]:
# Plotting the clusters
plt.scatter(df['Category 1_T'], df['Category 2_T'], c=df['kmeans_5'],)
plt.xlabel('Category 1')
plt.ylabel('Category 2')
plt.show()

<h2 id=hierarchisch>Hierarchisch</h2>

<h1 id=auswertung>Auswertung</h1>